{% extends "headerAdministrador.html.twig" %}

{% block stylesheets %}
  <link href="css/style.css" type="text/css" rel="stylesheet">
{% endblock %}    

{% block contenido %}
    {{msj}}
   
    <form id="form" name="formModificarDetalle" action="index.php?controller=abmAlimentos&amp;action=guardarModificado&amp;codigo={{codigo}}&amp;id={{alimento[0]['id']}}" method="post">

    <br>
    <br>
        <fieldset>
            <legend>Modificacion de Detalle</legend>
            <label>Fecha de Vencimiento:</label><input type="date" name="fecha_vencimiento" value="{{alimento[0]['fecha_vencimiento']}}"/><br>
            <label>Contenido:</label> <input type="text" name="contenido[0]" size="5" value="{{alimento[0]['contenido'][0]}}"> x <input type="text" name="contenido[1]" size="5" value="{{alimento[0]['contenido'][1]}}">
            <select name="unidad">
                <option value="kg">Kg</option>
                <option value="g">Gs</option>
                <option value="lt">Lts</option>
            </select> <br>
            <label>Peso por paquete: </label><input type="text" name="peso_unitario" value="{{alimento[0]['peso_unitario']}}"><br>
            Stock:<input type="number" name="stock" value="{{alimento[0]['stock']}}"><br>
            <label>Reservado:</label> <input type="number" name="reservado" value="{{alimento[0]['reservado']}}"> <br>
            <input type="hidden" name="token" value="{{token}}" >
            <br>
            <br>
                <input type="submit" value="Modificar">
        </fieldset>
            
                            
    </form>
    <br>
    <br>
    <br>

    <input type="button" value="Volver" onclick="document.location.href='index.php?controller=abmAlimentos&amp;action=verListaDetalle&amp;codigo={{alimento[0]['alimento_codigo']}}'">  
                
{% endblock %}
                            