{% extends "headerAdministrador.html.twig" %}

{% block contenido %}
<br>

 
{% if envios %}

<form id="form-alta" action="index.php?controller=EnviosController&amp;action=buscar" method="post">
          <input type="date" name="fecha" id="fecha" min="{{diaHoy}}" required>
      <input type="submit" value="Filtrar">
</form>

   <table class="tabla">         
          <tr>
              <th>N&uacute;mero Pedido</th>
              <th>Raz&oacute;n Social</th>
              <th>Turno</th>
            
              <th></th>
              <th></th>
          </tr> 

          {% for envio in envios %}
          <tr>  
              <td> {{envio["numero"]}}</td>   
              <td> {{envio["razon_social"]}}</td>   
              <td> {{envio["fecha"]}} | {{envio["hora"]}}hs</td> 
             
              <td><a class="mas" href="index.php?controller=EnviosController&amp;action=verMapa&amp;id={{envio.entidad_receptora_id}}"> Ver Mapa </a></td>           
            </tr> 
          {% endfor%}
        </table><br>
 {%else %}
      <h2>NO HAY ENVIOS EN ESA FECHA </h2><br>
  {%endif%}
{% endblock %}